on: [push, workflow_dispatch]
name: build
jobs:
  ko-publish:
    name: Release ko artifact
    runs-on: ubuntu-latest
    # https://docs.github.com/en/actions/reference/authentication-in-a-workflow
    permissions:
      id-token: write  # undocumented OIDC support.
      packages: write
      contents: read
    steps:
    - name: Checkout code
      uses: actions/checkout@v3
    - name: Setup Golang
      uses: actions/setup-go@v3
      with:
        go-version: 1.18
    - name: Setup ko
      run: go install github.com/google/ko@main
    - name: Install Cosign
      uses: sigstore/cosign-installer@v2.4.0
    - name: Login to GHCR
      run: echo "${{ secrets.GITHUB_TOKEN }}" | docker login ghcr.io -u ${{ github.actor }} --password-stdin
    - name: Publish image and SBOM (CycloneDX)
      run: ko publish --bare github.com/chipzoller/hello-ko --sbom=cyclonedx
      env:
        KO_DOCKER_REPO: ghcr.io/chipzoller/hello-ko
    - name: Sign image
      run: cosign sign --key env://COSIGN_PRIVATE_KEY ghcr.io/chipzoller/hello-ko
      env:
        COSIGN_PRIVATE_KEY: ${{ secrets.COSIGN_PRIVATE_KEY }}
        COSIGN_PASSWORD: ${{ secrets.COSIGN_PASSWORD }}
  build:
    permissions:
      id-token: write
      contents: write
      actions: read
    needs: ko-publish
    uses: slsa-framework/slsa-github-generator/.github/workflows/builder_go_slsa3.yml@v1.0.0
    with:
      go-version: 1.18
      # Optional: only needed if using ldflags.
      # evaluated-envs: "VERSION_LDFLAGS:${{needs.args.outputs.ldflags}}"

  attest:
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: write
      actions: read
      packages: write
    needs: build
    steps:
    - name: Download attestations
      uses: actions/download-artifact@fb598a63ae348fa914e94cd0ff38f362e927b741 # v3.0.0
      with:
        name: binary-linux-amd64.intoto.jsonl
    - name: Strip predicate
      run: jq -r .payload binary-linux-amd64.intoto.jsonl | base64 --decode | jq .predicate > provenance.json
    - name: Install Cosign
      uses: sigstore/cosign-installer@536b37ec5d5b543420bdfd9b744c5965bd4d8730 # v2.3.0
      with:
        cosign-release: 'v1.9.0'
    - name: Fetch SBOM
      run: cosign download sbom ghcr.io/chipzoller/hello-ko > sbom.json
    - name: List files
      run: ls -lahF && cat provenance.json
    # - name: Login to GHCR
    #   run: echo "${{ secrets.GITHUB_TOKEN }}" | docker login ghcr.io -u ${{ github.actor }} --password-stdin
    - name: Log in to GHCR
      uses: docker/login-action@49ed152c8eca782a232dede0303416e8f356c37b # v2.0.0
      with:
        registry: ghcr.io
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}
    - name: Attest provenance
      run: cosign attest --predicate provenance.json --type slsaprovenance --key env://COSIGN_PRIVATE_KEY ghcr.io/chipzoller/hello-ko
      env:
        COSIGN_PRIVATE_KEY: ${{ secrets.COSIGN_PRIVATE_KEY }}
        COSIGN_PASSWORD: ${{ secrets.COSIGN_PASSWORD }}
    - name: Attest SBOM
      run: cosign attest --predicate sbom.json --type https://cyclonedx.org/bom --key env://COSIGN_PRIVATE_KEY ghcr.io/chipzoller/hello-ko
      env:
        COSIGN_PRIVATE_KEY: ${{ secrets.COSIGN_PRIVATE_KEY }}
        COSIGN_PASSWORD: ${{ secrets.COSIGN_PASSWORD }}
