name: build
on: [push, workflow_dispatch]
env:
  REGISTRY: ghcr.io
  IMAGE_NAME: ${{ github.repository }}
jobs:
  ko-publish:
    name: Release ko artifact
    runs-on: ubuntu-20.04
    permissions:
      # id-token: write  # undocumented OIDC support.
      packages: write
      contents: read
    steps:
    - name: Checkout code
      uses: actions/checkout@2541b1294d2704b0964813337f33b291d3f8596b # v3.0.2
    - name: Setup Golang
      uses: actions/setup-go@b22fbbc2921299758641fab08929b4ac52b32923 # v3.2.0
      with:
        go-version: 1.18
    - name: Setup ko
      run: go install github.com/google/ko@cefd28f093ffb342237aa9d692eee247e82235d5 # v0.11.2
    - name: Install Cosign
      uses: sigstore/cosign-installer@7e0881f8fe90b25e305bbf0309761e9314607e25 # v2.4.0
    - name: Log in to GHCR
      uses: docker/login-action@49ed152c8eca782a232dede0303416e8f356c37b # v2.0.0
      with:
        registry: ghcr.io
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}
    - name: Publish image and SBOM (CycloneDX)
      run: ko publish --bare github.com/chipzoller/hello-ko --sbom=cyclonedx
      env:
        KO_DOCKER_REPO: ghcr.io/chipzoller/hello-ko
    - name: Sign image
      run: cosign sign --key env://COSIGN_PRIVATE_KEY ghcr.io/chipzoller/hello-ko
      env:
        COSIGN_PRIVATE_KEY: ${{ secrets.COSIGN_PRIVATE_KEY }}
        COSIGN_PASSWORD: ${{ secrets.COSIGN_PASSWORD }}
  build:
    permissions:
      id-token: write
      contents: write
      actions: read
    needs: ko-publish
    uses: slsa-framework/slsa-github-generator/.github/workflows/builder_go_slsa3.yml@v1.0.0
    with:
      go-version: 1.18
      # Optional: only needed if using ldflags.
      # evaluated-envs: "VERSION_LDFLAGS:${{needs.args.outputs.ldflags}}"

  attest:
    runs-on: ubuntu-20.04
    permissions:
      # id-token: write
      contents: write
      actions: read
      packages: write
    needs: build
    steps:
    - name: Download attestations
      uses: actions/download-artifact@fb598a63ae348fa914e94cd0ff38f362e927b741 # v3.0.0
      with:
        name: binary-linux-amd64.intoto.jsonl
    - name: Strip predicate
      run: jq -r .payload binary-linux-amd64.intoto.jsonl | base64 --decode | jq .predicate > provenance.json
    - name: Install Cosign
      uses: sigstore/cosign-installer@7e0881f8fe90b25e305bbf0309761e9314607e25 # v2.4.0
      with:
        cosign-release: 'v1.9.0'
    - name: Fetch SBOM
      run: cosign download sbom ghcr.io/chipzoller/hello-ko > sbom.json
    - name: List files
      run: ls -lahF && cat provenance.json
    - name: Log in to GHCR
      uses: docker/login-action@49ed152c8eca782a232dede0303416e8f356c37b # v2.0.0
      with:
        registry: ghcr.io
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}
    - name: Attest provenance
      run: cosign attest --predicate provenance.json --type slsaprovenance --key env://COSIGN_PRIVATE_KEY ghcr.io/chipzoller/hello-ko
      env:
        COSIGN_PRIVATE_KEY: ${{ secrets.COSIGN_PRIVATE_KEY }}
        COSIGN_PASSWORD: ${{ secrets.COSIGN_PASSWORD }}
    - name: Attest SBOM
      run: cosign attest --predicate sbom.json --type https://cyclonedx.org/bom --key env://COSIGN_PRIVATE_KEY ghcr.io/chipzoller/hello-ko
      env:
        COSIGN_PRIVATE_KEY: ${{ secrets.COSIGN_PRIVATE_KEY }}
        COSIGN_PASSWORD: ${{ secrets.COSIGN_PASSWORD }}
